.page-heading {
    text-align: center;
}

.main-view {
    text-align: center;
    width: 95vw;
    max-width: 95vw !important;
}

#demographics-svg {
    width: 43.5vw;
    height: 60vh;
}

.image-button {
    width: 15px; /* Set a width for the button */
    height: 15px; /* Set a height for the button */
    background-color: white;
    background-size: cover; /* Ensure the background image covers the button */
    border: none; /* Remove border for a cleaner look */
    cursor: pointer;
}

#leftButton {
    background-image: url('img/left-arrow.png');
}

#rightButton {
    background-image: url('img/right-arrow.png');
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 125px;
    height: 55px;
    padding: 10px;
    font: 17px sans-serif;
    font-weight: bolder;
    background: white;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    pointer-events: none;
}

.slider-line {
    stroke: blue;
    stroke-width: 4;
    cursor: grab;
  }

  .slider-line.dragging {
    cursor: grabbing;
  }